<div style="align-items: center; padding-left: 5%; padding-right: 5%; margin-top: 5%; overflow: auto;">
    <div style="position: absolute; width: 27%;">
      <img src="../../../assets/images/logo.png" class="img-responsive right" style="width:100%; "/>
    </div>
    <div style="position: absolute; z-index: -2; width: 90%;">
      <img src="../../../assets/images/wood.png" class="img-responsive right"
         style="width: 100%; padding-top: 10%;"/>
    </div>
  </div>
  <div class="container">
    <div class="head">
    </div>
    <div class="middle">
      
    </div>
    <div class="bottom">
  
    </div>
  </div>
