<div class="page-top" style="width:100%;height: 20px;background-color: #f46b42"><p>{{time | async}}</p></div>
<nav id="navbar" class="navbar  bg-dark" style="height: fit-content; padding-top:0px;padding-bottom: 0px; z-index: 100;">
  <div id="navTop" class="navbar">
      <ul id="navtopUL" >
        <mat-grid-list cols="4" rowHeight="5:1">
          <mat-grid-tile colspan="1" >
                <a class="pointer" routerLink="/home" style="width:100% ; height:100% ; text-align: center;" >
                    <img src="../../../assets/images/logoHome.png" class="img-responsive right" style="width: 50%; padding-top: 4%;"/>
                </a>
          </mat-grid-tile>

          <mat-grid-tile colspan="2">
            <form (submit)="onSearchByTitleByForm()">
              <input #SearchByTitle placeholder="Search By Title..." (input)="onSearchByTitleByInput(SearchByTitle.value)"
              [matAutocomplete]="auto">
  
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let book of books$ | async" 
                  [innerHtml]="book.title | highlightSearch:SearchByTitle.value"
                  routerLink="/book-list/{{book.title}}">
                </mat-option>
              </mat-autocomplete>
  
              <button mat-mini-fab color="primary" (click)="onSearchByTitleByForm()">
                <mat-icon aria-hidden="false">search</mat-icon>
              </button>
            </form>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <div *ngIf="!(user$|async)">
              <a class="account" routerLink="/my-account">LOG IN</a> 
              <a class="account" routerLink="/myAccount">SIGN UP</a>
            </div>
            <div *ngIf="user$ | async as user">
              <a class="account" routerLink="/myAccount">{{user.username}}</a>|&nbsp;
              <a  class="account" (click)="onClickLogout()">Logout</a>
              <a class="account" routerLink="/shoppingCart">
                <mat-icon>shopping_cart</mat-icon>
              </a>
            </div>     
          </mat-grid-tile>
        </mat-grid-list>
      </ul>
  </div>
  <div id="navBottom" class="navbar">
    <ul class="nav navbar-expand">
      <li class="dropdown">
        <a class="pointer">Book</a>
        <div class="dropdown-content">
          <a routerLink="/book-list">All book</a>
          <a href="#">Light novel</a>
          <a href="#">Manga</a>
        </div>
      </li>
      <!-- <li class="navbar" *ngIf="loggedIn"><a routerLink="/myProfile">MY PROFILE</a></li> -->
    </ul>
  </div>
</nav>
<div class="logOutDialog" id="logout">
  <div id="model-content">
  <p>Bạn có chắc muốn đăng xuất không?</p>
  <button mat-raised-button color="warn" (click)="logout()">Có</button>
  <button mat-raised-button color="primary" style="float: right;" (click)="closeLogoutDialog()" >Không</button>
  </div>
</div>
